@mixin respond($type, $breakpoint) {
  @if $type == max {
    @if $breakpoint == sm {
      @media (max-width: 640px) {
        @content;
      }
    }

    @if $breakpoint == md {
      @media (max-width: 768px) {
        @content;
      }
    }

    @if $breakpoint == lg {
      @media (max-width: 1024px) {
        @content;
      }
    }

    @if $breakpoint == xl {
      @media (max-width: 1280px) {
        @content;
      }
    }

    @if $breakpoint == xxl {
      @media (max-width: 1536px) {
        @content;
      }
    }
  } @else {
    @if $breakpoint == xs {
      @media (min-width: 0) {
        @content;
      }
    }

    @if $breakpoint == sm {
      @media (min-width: 640px) {
        @content;
      }
    }

    @if $breakpoint == md {
      @media (min-width: 768px) {
        @content;
      }
    }

    @if $breakpoint == lg {
      @media (min-width: 1024px) {
        @content;
      }
    }

    @if $breakpoint == xl {
      @media (min-width: 1280px) {
        @content;
      }
    }

    @if $breakpoint == xxl {
      @media (min-width: 1536px) {
        @content;
      }
    }
  }
}
