@use "../abstracts" as *;

@each $property, $value in $grid-breakpoints {
  .full-width-#{$property} {
    @include respond(min, $property) {
      width: 100% !important;
    }
  }

  .full-height-#{$property} {
    @include respond(min, $property) {
      height: 100% !important;
    }
  }

  .text-left-#{$property} {
    @include respond(min, $property) {
      text-align: left !important;
    }
  }

  .text-center-#{$property} {
    @include respond(min, $property) {
      text-align: center !important;
    }
  }

  .text-right-#{$property} {
    @include respond(min, $property) {
      text-align: right !important;
    }
  }

  .text-justify-#{$property} {
    @include respond(min, $property) {
      text-align: justify !important;
    }
  }

  .d-none-#{$property} {
    @include respond(min, $property) {
      display: none !important;
    }
  }

  .d-block-#{$property} {
    @include respond(min, $property) {
      display: block !important;
    }
  }

  .relative-#{$property} {
    @include respond(min, $property) {
      position: relative !important;
    }
  }

  .absolute-#{$property} {
    @include respond(min, $property) {
      position: absolute !important;
    }
  }

  .hidden-#{$property} {
    @include respond(min, $property) {
      visibility: hidden !important;
    }
  }

  .pointer-#{$property} {
    @include respond(min, $property) {
      cursor: pointer !important;
    }
  }
}
