@use "../abstracts" as *;

.chip {
  padding: 6px 12px;
  border-radius: 6px;
  background-color: $color-primary;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  transition: all 250ms ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    cursor: pointer;
  }
}
