@use "../abstracts" as *;

.timeline {
  .circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3.2px solid $color-primary;
  }

  .line {
    width: 1.5px;
    height: calc(100% - 83px);
    background-color: $color-primary;
  }
}
