@use "../abstracts" as *;

.header {
  &-info {
    &__left {
      .photo {
        width: 100px;
        border: 1px solid #d3d3d3;
        border-radius: 50%;
      }

      h2 {
        font-size: 3rem;
        font-weight: 400;
      }

      h4 {
        font-size: 1.8rem;
        font-weight: 400;
      }
    }

    &__right {
      color: $color-primary;
      font-size: 1.6rem;

      a {
        color: inherit;
        text-decoration: none;
        transition: all 250ms ease;

        &:hover {
          transform: translateX(-3px);
        }
      }

      a > i {
        font-size: 2rem;
      }

      a[href*="github"] {
        &:hover {
          color: hsl(0, 0%, 20%);
          transform: scale(1.1);
        }
      }

      a[href*="linkedin"] {
        &:hover {
          color: hsl(210, 90%, 40%);
          transform: scale(1.1);
        }
      }
    }
  }

  &-desc {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
