@use "../abstracts" as *;

.section {
  &-title {
    font-size: 2.1rem;
  }

  &-content {
    font-size: 2rem;

    &__right {
      .institution {
        &-name {
          font-size: 2.1rem;
        }

        &-details {
          font-size: 1.3rem;
          font-style: italic;
          color: $color-secondary;
        }
      }
    }

    .company {
      &-name {
        font-size: 2.1rem;
      }

      &-details {
        font-size: 1.3rem;
        font-style: italic;
        color: $color-secondary;
      }

      &-tasks {
        font-size: 1.5rem;

        .title {
          font-size: 1.4rem;
          font-style: italic;
          color: $color-secondary;
        }
      }
    }

    .project {
      padding: 2rem;
      font-size: 1.6rem;
      border-radius: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
      cursor: pointer;
      transition: all 250ms ease;

      .hyphen {
        min-width: 6px;
        height: 1.5px;
        background-color: $color-secondary;
      }

      &-subtitle {
        font-size: 1.2rem;
        color: $color-secondary;
      }

      &-link {
        a {
          color: $color-primary;
          transition: all 250ms ease;

          &:hover {
            color: #3498db;
          }
        }
      }

      &:hover {
        transform: translateY(3px);
      }
    }

    .certificate {
      font-size: 1.6rem;
    }

    .language {
      p {
        font-size: 1.5rem;
      }

      span {
        font-size: 1.3rem;
        font-style: italic;
        color: $color-secondary;
      }
    }

    .interests {
      .chip {
        padding: 5px 10px;
        background-color: unset;
        color: $color-primary;
        font-size: 1.3rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: unset;
      }
    }
  }
}
